<head>
	<title>Minu kodukas!</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1 style="color: green;" id="nimi_koht">Suur pealkiri -1</h1>
	<h2>Suur pealkiri -2</h2>
	<h3 class="kastiga">Suur pealkiri -3</h3>
	<h4>Suur pealkiri -4</h4>
	<h5>Suur pealkiri -5</h5>
	<p>Paragraaf. Tavaline tekst.</p>
	<ul> 
		<li>Esimene</li> <!-- list item -->
		<li class="kastiga">Teine</li>
		<li>Kolm</li>
	</ul>
	
	<ol> <!-- ordered list -->		
		<li>Esimene</li>
		<li>Teine</li>
		<li>Kolm</li>
	</ol>
<form>
	<input id="nimi" placeholder ="Mis on su nimi?"/>
	<input type ="checkbox"/>
	<input type ="range" name="points" min="0" max="10"/>
	<input type="submit"/>

</form>

<img class="kastiga" width ="200" src="https://s-ec.bstatic.com/images/hotel/max1024x768/809/80926609.jpg">
<script src="script.js"> </script>
</body>