body {
	background-color: lightgray; /* värv */
	font-family: Arial;
	font-size: 16ps;
	color: red;
}

form	{
	border: 5px solid green;
	border-radius: 15px;
	border-width: 3px;
	box-shadow: 14px 20px 5px 0px rgba(0,0,0,0.75); 
}

form input {
	display: block;
}
.kastiga {
	border: 2px solid green;
}