<!-- 
	1. määra lehele <title>
	2. tekita body koos mingi tekstiga
	-->

<head>
	<title>Super Chat! ver. 1.0.0.</title>
	 <meta charset="UTF-8">

</head>
<body>
	<h1>Super Chat!</h1>
	<div id="ruum"></div><p></p>
	<div id="jutt"></div>
	<form></br>
		<select id="ruumSelect" name="Rooms">
			<option value="http://localhost:8080/chat/general">General</option>
			<option value="http://localhost:8080/chat/random">Random</option>
		</select>
		</br>
		<p id = "test">***</p>
		</br></br>
		<input id="username" value="Andrei" placeholder="kasutaja" />
		<input id="message" value="Minu esimene sõnum" placeholder="sõnum" />
		<input id="avatar" placeholder="sisesta url" />
		<input type="submit">
	</form>
	<p></p>
	
<!-- 
	This row must be at the end of body!!!!!!!
	-->	
	<script src="scrips.js"></script> 
</body>